<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongik.alpha_money">

    <permission android:name="com.hongik.alpha_money.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"
        ></permission>
    <uses-permission android:name="com.hongik.alpha_money.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBxjXDIsW5_nSxq_xuqs2Quw8tvOVkNjpA" />

    <application
        android:name=".ApplicationSingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 팝업형식으로 추가되기 위해서 마지막에 .dialog 붙임 -->
        <activity
            android:name=".Activity.AddDataActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            />

        <receiver
            android:name=".Sms.SmsReceiver"
            android:enabled="true">
            <intent-filter android:priority="9999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.pr" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.DetailActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            >
        </activity>
    </application>

</manifest>